# Dependencies
node_modules/

# Compiled output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Environment
.env
.env.local
.env.*.local

# Testing
coverage/
.nyc_output/

# Docker
*.env.docker
